* {
  font-family: 'Montserrat Alternates', sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #222;
  height: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar li {
  display: inline-block;
  position: relative;
  width: 15%;
  /* height: 10%; */
}

.navbar li a {
  display: block;
  padding: 12px 22px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.navbar li ul.drp li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li ul.drp li a {
  text-align: left;
}

.navbar li ul.drp {
  width: 100%;
  background: #222222ec;
  position: absolute;
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar #last:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar li a:hover {
  font-style: italic;
  letter-spacing: 1px;
  background: #444;
  display: block;
}

.navbar li:hover ul.drp {
  display: block;
  font-size: 10px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /* Add this line */

}

@media screen and (max-width: 768px) {

  /* optional styles for smaller screens */
  #wrapper {
    flex-direction: column;

  }
}

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 180px;
  width: min-content;
  margin: 50px auto;
  padding: 50px 0px;
  background-color: rgba(255, 255, 255, .15);
  background-image: radial-gradient(#cccccc11, #EEEEEE99);
margin-top: 0;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  animation-name: title-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.data {
  height: 180px;
  width: min-content;
  margin: 50px auto;
  padding: 50px 30px;
  background-image: radial-gradient(#cccccc11, #EEEEEE99);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin-top: 0;
  animation-name: title-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.adv-disadv {
  display: block;
  width: 30vw;
  height: min-content;
  padding: 20px;
  line-height: 250%;
  margin: 8vh auto;
}

.adv-disadv li {
  list-style: '👉';
}

.adv-disadv p {
  font-size: larger;
  line-height: normal;
  margin: 0 0;
  font-weight: bold;

}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  background-color: #fff;
  border: 2px solid #000;

}

th,
td {
  text-align: center;
  padding: 18px;
}

th {
  background-color: #282C35;
  color: #fff;
  border: 2px solid #000;
}

tr {
  background-color: #e5eaf5;
}

tr:hover {
  background-image: linear-gradient(to top, #b6fbff55, #83a4d455);
}

td {
  border: 2px solid #000;
}

.header {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: left;
  margin-left: 8vw;
  animation-name: title-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  letter-spacing: 3px;
  margin-top: 50px;
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #a0d2eb;
  font-family: 'Times New Roman', Times, serif;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #b6fbff, #83a4d4);


}

.bar {
  background-color: #323232;
  margin: 5px;
  width: 20px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;

}

.bar p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  color: #333;
}

.bar.swapping {
  /* background:#4B0082; */
  background-color: #222;
}

.bar.focus {
  /* background-color: #ffdd00; */
  background-color: green;
  /* background:#ff8b00; */
  z-index: 1;
  transform: translateY(-10px);
  transform: scaleY(125%);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.bar.sorted {
  background-color: #4B0082;
  box-shadow: 0px 3px 10px 0px rgba(53, 52, 52, 0.9);
}

/* Add some basic styles to the Sort button */

#sort-comp {
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  width: min-content;
  align-content: baseline;
  margin: -40px auto;
  animation-name: title-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;


}


#output {
  width: 200px;
  height: fit-content;
  padding: 20px;
  text-align: center;
  background-color: #37306b;
  border: #000 2px solid;
  color: #fff;
  margin: 2vh 20vw;
  /* background-image: linear-gradient(to top,#33006f55, #EEEEEE99,#33006f55); */
  box-shadow: 2px,#33006f;

}

 button:hover {

  background-color: #181818;
}

/* Increase the font size and padding of the Sort button on larger screens */
@media screen and (min-width: 768px) {
  button {
    font-size: 20px;
    padding: 15px 30px;
    display: block;
    margin: auto;
    background-color: #37306b;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: fit-content;
    padding: 20px;
    text-align: center;

    margin-right: 25vw;
    margin: auto;
  }
}

.horizontal-bar {
  width: 100%;
  height: 30px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: right;
}

.horizontal-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.horizontal-bar li {
  margin-top: 5px;
}

.horizontal-bar a {
  margin: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.about-us {
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.about-us:hover .popup {
  opacity: 1;
  visibility: visible;
}